.left_edit {
  vertical-align: middle;
  display: inline-block;
  width: 200px;
}

.edit {
  margin: 5px 0px;
  width: 600px;
  min-height: 40px;
}

.right_edit {
  vertical-align: middle;
  display: inline-block;
  width: 400px;
}
.right_edit input, .right_edit textarea, .right_edit select {
  width: 390px;
}

.center_edit {
  text-align: center;
}

.photoPreview {
  max-height: 100px;
  margin: 10px;
  border: 1px solid silver;
  cursor: pointer;
}

.preview_div {
  width: 720px;
  height: 130px;
  overflow: auto;
}
