/*
HTTP Host: b.static.ak.fbcdn.net
Generated: November 1st 2010 9:53:28 AM PDT
Machine: 10.138.16.183
*/

.actionspro .actionspro_li{border-bottom:1px solid #d8dfea}
.actionspro .actionspro_a{background:transparent;display:block;margin:0;padding:2px 
3px;text-decoration:none}
.actionspro .actionspro_a:hover{background:#3b5998;color:#fff;text-decoration:none}
.actionspro .inactive{padding:2px 3px;color:#808080;display:inline-block}
.dialog_body .dialog_option{padding:14px 0 7px 0}
.dialog_body .dialog_option 
input{width:13px;height:13px;padding:0;margin:0;vertical-align:bottom;position:relative;top:0}
.dialog_body .dialog_option .dialog_option_text{padding-left:5px;text-indent:-15px}
#dropmenu_container .flyout_menu{font-size:11px;line-height:normal}
.flyout_menu{position:absolute;margin-top:-5px;margin-left:-5px;top:0;left:0;padding:0;overflow:visible;width:196px;z-index:20}
.flyout_menu 
.flyout_menu_header_shadow{margin:0;padding:0;margin-top:1px;overflow:visible;position:relative}
.flyout_menu .flyout_menu_header{margin:0;padding:0;margin-top:-1px;border:1px solid #333}
.flyout_menu .flyout_menu_header .flyout_menu_mask{width:27px;height:24px;border:4px solid 
white;border-right:0;margin:0;float:left;padding:0}
.flyout_menu .flyout_menu_header .flyout_menu_title{padding:8px 5px 4px 
8px;height:18px;color:#666;text-align:left;float:left;width:150px;background-color:#fff}
.flyout_menu .flyout_menu_content_shadow{background:#eee;border:1px solid 
#333;border-top:0;float:right;clear:left;margin:0;padding:0;position:relative;margin-top:-1px}
.flyout_menu .menu_content{width:163px;padding:3px 0 2px;border-top:1px solid 
#ccc;margin:0;clear:both}
.flyout_menu .menu_custom{overflow:hidden;padding:5px 8px}
.flyout_menu .menu_content .item{clear:both;overflow:hidden;padding:3px 0}
.flyout_menu .menu_content label{float:left;font-weight:normal;padding-top:1px}
.flyout_menu .menu_content .inputcheckbox{float:left;margin:0 4px 0 0}
.flyout_menu 
.menu_separator{background:#ccc;clear:both;font-size:0;height:1px;line-height:1px;margin:3px 
6px;overflow:hidden;padding:0}
.link_menu .menu_content a,.link_menu_list .menu_content ul li 
a.tab_link{height:auto;width:auto;display:block;overflow:hidden;margin:0;overflow:hidden;padding:5px 
8px 5px 8px}
.link_menu .menu_content a.icon_link{background-position:9px 
7px;background-repeat:no-repeat;padding-left:26px}
.link_menu .menu_content a:hover,.link_menu_list .menu_content ul li 
a.tab_link:hover{text-decoration:none;background-color:#899bc1;color:#fff}
.flyout_menu_left .flyout_menu_content_shadow{float:left}
.flyout_menu_left .flyout_menu_header .flyout_menu_mask{float:right}
.flyout_menu_18{margin-top:-4px;margin-left:-4px;width:173px}
.flyout_menu_18 .flyout_menu_header .flyout_menu_title{padding:5px 8px 3px 
5px;height:16px;width:134px}
.flyout_menu_left .flyout_menu_header .flyout_menu_title{padding-left:8px;padding-right:5px}
.flyout_menu_18 .flyout_menu_header .flyout_menu_mask{width:18px;height:18px;border:3px solid 
white}
.flyout_menu_18 .menu_content{width:150px}
.dropdown_menu{position:absolute;right:0;width:150px;z-index:10;margin-top:-1px}
.dropdown_menu .menu_content{border:solid 1px #6076a5;background:white}
.dropdown_menu a{display:block;padding:3px 10px}
.dropdown_menu span.optgroup{color:#808080;cursor:default;display:block;padding:8px 10px 4px 
10px}
.dropdown_menu a:hover{background:#5c75aa;color:#fff;text-decoration:none}
.dropdown_menu .menu_separator{background:#ccc;clear:both;height:1px;margin:3px 
6px;overflow:hidden}
.dropdown_menu .menu_section_title{color:#808080;padding:2px 10px 5px 9px}
.dropdown_head .dropdown_link{padding:2px 5px;font-weight:normal}
.dropdown_head .dropdown_link:hover{text-decoration:none}
.dropdown_head .dropdown_link.selected{background:#5c75aa;color:#fff;border-top:1px solid 
#3b5998;border-left:1px solid #3b5998;border-right:1px solid #3b5998}
.dropdown_head .dropdown_link.selected span{background-position:-13px 0}
.dropdown_head .dropdown_arrow{margin:0;padding-left:3px;background:transparent 
url(http://static.ak.fbcdn.net/rsrc.php/zQ/r/SEHmoF4wJuy.gif) top left 
no-repeat;width:12px;cursor:pointer;height:15px}
.double_arrow img{background:transparent 
url(http://static.ak.fbcdn.net/rsrc.php/zV/r/IJYgcESal33.png) no-repeat -5px -56px}
.double_arrow .active img{background-position:0 -56px}
.dropdown_head .active{background:#5c75aa;color:#fff}
.nile_profile .minifeedwall{padding-top:6px}
.fbpage .extra_media .fbpage_pic{float:left;padding:0}
.fbpage .extra_media .fbpage_info{float:left;width:250px;padding:3px 0 3px 7px}
.minifeedwall .loading_layer{background:white 
url(http://static.ak.fbcdn.net/rsrc.php/z9/r/jKEcVPZFk-2.gif) no-repeat 
center;opacity:.5;position:absolute}
.minifeedwall .loading_placeholder{background:white 
url(http://static.ak.fbcdn.net/rsrc.php/z9/r/jKEcVPZFk-2.gif) no-repeat center;height:200px}
#feedwall_with_composer{padding-top:10px}
#feedwall_with_composer .uiComposer{border-top:none}
#feedwall_controls_wrapper 
.advanced_controls_link{background:#fff;display:none;float:right;margin-top:-7px}
#feedwall_controls_wrapper.show_advanced_options_link .advanced_controls_link{display:block}
#feedwall_controls_wrapper.show_advanced_options_link #feedwall_controls{display:none}
#feedwall_controls ul.Tabset_tabset li{float:left}
.minifeedwall .empty_wall .status{background:#f5f5f5;border:none;border-top:1px solid 
#eaeaea;margin:45px 0 20px}
.minifeedwall .status{overflow:hidden}
#feedwall_controls ul.Tabset_tabset #profile_stream_filters_settings,#feedwall_controls 
ul.Tabset_tabset .walltowall{float:right}
#profile_stream_filters_settings span.settings{background:transparent 
url(http://b.static.ak.fbcdn.net/rsrc.php/z-/r/zUEiY7TcWvb.gif) no-repeat scroll left 
3px;padding-left:14px;display:inline-block}
#profile_stream_filters_settings.Tabset_selected span.settings{background-position:left -10px}
#profile_pager_container .page_loading{display:block}
.story_ff .comment_box{margin-left:57px}
.story_ff .size_1 .comment_box{margin-left:0}
.profile .basic_info_summary{border-right:1px solid #d8dfea}
.profile .basic_info_summary dl.info dt{float:none;padding-bottom:2px;text-align:left}
.profile .basic_info_summary dl.info dd{color:#000;float:none;overflow:hidden;padding:0 0 6px 
0}
.profile .basic_info_summary .relationship_status span a{display:block}
.profile .box{border-top:1px solid #94a3c4;position:relative;zoom:1}
.profile .box .box_header{background:#eceff5;border-top:0;display:block;padding:5px 
8px;position:relative;zoom:1}
.profile .moveable .box_header{cursor:move}
.profile .box h4.box_header{background:white;border-bottom:1px solid 
#eceff5;font-weight:normal;margin:0;padding:2px 8px}
.profile .box h4.box_header span{float:left}
.profile .box h4.box_header small{float:right;font-size:11px}
.profile .box .inside{overflow:hidden;padding:10px 7px 10px 8px;position:relative}
.profile .box .full_inside_box .inside{overflow:visible}
.profile .left_column .box .inside{width:184px}
.profile .box.drag .inside{background-color:#fff}
.profile .box_placeholder{border:3px dashed #93a4c6;margin:0 0 20px 0}
.profile .add_new_box_border{position:absolute;margin-top:-20px;margin-left:-20px;z-index:2}
.profile .add_new_box_border .pop_content{background:none;border:solid 1px 
#3b5998;border-bottom:none}
.profile .add_new_box_border .border_frame{border:solid 10px #868686}
.profile .add_new_box_border .dialog_buttons{border:solid 1px #3b5998;border-top:solid 1px 
#ccc;background:#f7f7f7;padding:10px 10px;text-align:center}
.profile .add_new_box_border .dialog_buttons input{margin-left:5px}
#photos_box{padding:0 0 0 8px}
#photos_box .added .album{border-bottom:solid 1px #ffe222;padding:6px 6px 3px 
6px;width:174px;margin:0 10px 10px -6px;background:#fff8cc}
#photos_box .album{padding:6px;width:160px;float:left;word-wrap:break;margin:0 10px 0 
0;width:170px;padding:0 0 5px}
#photos_box .album .image{width:75px}
#photos_box .album .image img{width:75px;float:left;margin-right:10px}
#photos_box .album img.mob_album{float:left;margin:1px 4px 0 0}
#photos_box .album .date{color:#808080}
#photos_box .album div{float:left;width:83px}
#photos_box .album .desc .date{display:block}
.profile .right_column_container{margin:auto;width:940px;padding:0}
.profile .right_column_container .profile_sidebar_ads{float:right;width:180px}
.profile .right_column{float:right;width:760px}
.profile_two_columns .right_column{float:right;margin-bottom:20px;width:540px}
#profile_top_bar{padding:0 160px 0 60px;margin:auto;width:720px}
.profile .top_bar_pic{float:left;margin:1px 0 0 -60px}
.profile .top_bar_pic img{display:block}
.profile_two_columns .top_bar_pic{display:none}
.profile_two_columns #profile_top_bar{padding:0 0 0 220px}
.profile .hubs_likes{color:#808080;padding:2px 0 0 0;font-size:13px}
.profile .profile_top_bar_container{overflow:hidden}
.profile .profile_top_wash{background:#edeff4 
url(http://b.static.ak.fbcdn.net/rsrc.php/zb/r/3LyZkLVshsc.gif) repeat-x bottom left}
.profile .profile_color_bar{padding-top:22px}
span.alternate_name{color:#666;font-weight:normal}
.profile .top_bar h1{display:inline;font-size:16px;font-weight:bold;padding:0}
.profile .top_bar .profile_chat_status{float:right;padding:6px 3px 0}
.profile .top_bar 
.mobile_status{color:#555;display:inline;font-size:13px;font-weight:normal;margin-left:5px}
.profile .top_bar .status_block .mobile_status{display:block;margin-left:0;margin-top:2px}
.profile .top_bar .mobile_status a{color:#555}
.profile .top_bar .status_source{font-size:9px;color:#999;margin-left:3px}
.profile .top_bar .status_source a{color:#3b5998}
.profile .top_bar .mobile_status .clear_link a,.profile .top_bar .mobile_status 
.profile_empty_status a{color:#3b5998}
.profile .top_bar .mobile_status .inline_edit{display:block;width:360px}
.profile .top_bar 
.profile_img{padding-left:5px;position:absolute;right:0;top:-5px;height:50px;width:50px}
.profile_two_columns .top_bar .profile_img{display:none}
.profile .top_bar .profile_img img{position:relative}
.profile .top_bar .profile_img.hidden img{right:-100px}
.profile .top_bar .mobile_status 
small{color:#999;font-size:9px;margin-left:3px;white-space:nowrap}
.profile .top_bar .mobile_status small a{color:#3b5998}
.profile .tabs_wrapper{padding:10px 0 0;margin:0}
.profile .top_bar ul.tabs{border-bottom:0;border-right:0;width:100%}
.profile .top_bar ul.tabs li{background-color:#d8dfea;float:left;margin:0 2px 0 
0;overflow:hidden;position:relative}
.profile .tabs_more_menu ul li a.tab_link .app_tab_icon{background:no-repeat transparent -16px 
0;width:16px;height:16px}
.profile .tabs_more_menu ul li a:hover.tab_link .app_tab_icon{background-position:top left}
.profile .top_bar ul.tabs li a.tab_link{border:1px solid 
#d8dfea;border-bottom:0;font-size:13px;font-weight:bold;display:block;padding:3px 
11px;white-space:nowrap}
.profile .top_bar ul.tabs li 
a:hover.tab_link{background-color:#627aad;border-color:#627aad;color:#fff;text-decoration:none}
.profile .top_bar ul.tabs li a.tab_link:focus{outline:0}
.profile .top_bar ul.tabs li.add_tab 
a.tab_link{padding:0;width:25px;height:22px;display:block;background:transparent 
url(http://static.ak.fbcdn.net/rsrc.php/zT/r/gwiXNnyPhyg.gif) 0 -2px no-repeat;margin:0}
.profile .top_bar ul.tabs li.selected_menu_icon a.tab_link,.profile .top_bar ul.tabs 
li.add_tab a:hover.tab_link{background-color:#627aad;background-position:left 
-26px;padding:0;margin:0;border-color:#627aad}
.profile .top_bar ul.tabs li.selected{margin-top:-2px;margin-bottom:-2px;background:#fff}
.profile .top_bar ul.tabs li.selected 
a.tab_link{color:#333;font-size:13px;padding:0;padding:5px 10px 4px}
.profile .top_bar ul.tabs li.selected 
a:hover.tab_link{background-color:#fff;border-color:#d8dfea;color:#333;text-decoration:none}
.profile .top_bar ul.tabs li.selected a.has_edit{padding-right:25px}
.profile .top_bar ul.tabs li a.edit{display:none}
.profile .top_bar ul.tabs li.selected 
a.edit{display:block;position:absolute;top:0;right:0;height:18px;width:19px;background:url(http://b.static.ak.fbcdn.net/rsrc.php/zI/r/4DVNAxs9NoZ.gif) 
no-repeat left -36px;margin:4px 4px 0 1px}
.profile .top_bar ul.tabs li.selected a.edit:hover{background-position:left 
top;text-decoration:none}
.profile .top_bar ul.tabs li.selected a.selected{border-left:solid 1px 
#6076a5;background-position:left -18px}
.profile .top_bar ul.tabs li.selected .inputtext{margin:2px 3px 3px}
.profile .top_bar ul.tabs 
li.profile_tab_more{position:relative;overflow:visible;z-index:5;padding:0;margin-top:0;margin-bottom:0}
.profile .top_bar ul.tabs li.profile_tab_more 
a.tab_link{padding:0;width:25px;height:22px;display:block;background:transparent 
url(http://b.static.ak.fbcdn.net/rsrc.php/zS/r/UK_y4vNfbHf.gif) 0 -1px no-repeat;margin:0}
.profile .top_bar ul.tabs li.profile_tab_more a:hover.tab_link,.profile .top_bar ul.tabs 
li.selected_tab_more a.tab_link{background:#899bc1 
url(http://b.static.ak.fbcdn.net/rsrc.php/zS/r/UK_y4vNfbHf.gif) 0 -26px 
no-repeat;padding:0;display:block;border-top:solid 1px #627aad;border-left:solid 1px 
#627aad;border-right:solid 1px #627aad}
.profile li.profile_tab_more .tabs_more_menu{overflow:none}
.profile li.profile_tab_more .tabs_more_menu ul{padding:0;margin:0}
.profile .link_menu_list .tabs_more_menu ul li a.edit{display:none}
.profile .link_menu .menu_content span.unmovable{border-bottom:solid #e0e0e0 
1px;color:#666;display:block;margin-bottom:2px;padding:5px 8px}
.profile 
.left_column_container{margin:auto;height:0;width:760px;overflow:visible!important;overflow:hidden;padding-right:180px}
.profile .left_column{float:left;margin:0 0 0 0;padding:0 0 0 0;width:200px;display:none}
.profile_two_columns .left_column{display:block;position:relative;margin-bottom:20px}
.profile .left_column .loading{background:no-repeat 
url(http://static.ak.fbcdn.net/rsrc.php/zb/r/GsNJNwuI-UM.gif) center center}
.profile .left_column .box_column .loading{padding:0 0}
.profile .profileimage{text-align:center;min-height:50px}
.profile .affiliations{border-right:solid 1px white;border-bottom:1px solid 
#ccc;font-size:12px;padding:7px 10px}
div.profile_actions{padding-bottom:20px}
.profile_actions a.profile_action{border-bottom:1px solid #d8dfea;display:block;padding:3px 
8px;text-decoration:none}
.profile_actions a.add_friend,.profile_actions 
a.suggest_friends{background-repeat:no-repeat;background-position:178px 
2px;padding-right:29px}
.profile_actions .holder{border-bottom:1px solid #d8dfea;display:block;padding:3px 8px}
.profile_actions .inactive{border-bottom:1px solid #e7e7e7;color:#808080}
.profile_actions a:hover{background-color:#3b5998;color:#fff;zoom:1}
.secondary_actions{margin-top:40px}
.secondary_actions a.action{border:none;display:block;padding:3px 0 3px 9px}
div.action a:hover.remove,div.action a.hover{background:#3b5998 
url(http://static.ak.fbcdn.net/rsrc.php/zV/r/5luk374gOfy.gif) no-repeat -12px center}
div.action a.remove span{visibility:hidden}
.profile .blurb{border:1px solid #d8dfea;margin-bottom:20px}
.profile .blurb_inner{padding:7px;position:relative}
.profile .blurb_editing{border:none}
.profile .blurb_editing .blurb_inner{padding:0}
.profile .blurb div.text_wrapper{margin-right:5px;overflow:hidden}
.profile .box_column{border-bottom:1px solid #94a3c4;border-right:1px solid 
#d8dfea;z-index:12;position:relative}
.profile .box a.box_editor,.profile .blurb a.edit_link,.profile .basic_info_summary 
a.box_editor{display:block;background:url(http://b.static.ak.fbcdn.net/rsrc.php/zI/r/4DVNAxs9NoZ.gif) 
left -36px no-repeat;width:18px;height:18px;position:absolute;right:3px;top:3px}
.profile .box a.box_editor:hover,.profile .basic_info_summary a.box_editor:hover,.profile 
.blurb a.edit_link:hover,.profile .box a.selected,.profile .basic_info_summary 
a.selected{background-position:right -18px}
.profile .blurb_editing a.edit_link{top:4px;right:4px}
.profile .left_column .box .app_content_2407511955,.profile .left_column .box 
.app_content_2356318349,.profile .left_column .box 
.app_content_2530096808{padding-right:0;padding-left:8px;width:191px}
.profile .small_box_size_restrict{overflow:hidden;max-height:250px}
.profile #tab_content.loading,.profile .right_column.loading,.profile .right_column 
#tab_canvas.loading,.profile #feedwall_with_composer.loading,.profile 
.fbx_profile_tab_loading{background:no-repeat 
url(http://static.ak.fbcdn.net/rsrc.php/z9/r/jKEcVPZFk-2.gif) center center;padding:150px 0}
.profile .fbloading{padding:30px 0;text-align:center}
.profile .fbloading 
span{background:url(http://static.ak.fbcdn.net/rsrc.php/zb/r/GsNJNwuI-UM.gif) no-repeat left 
center;font-size:13px;padding-left:40px}
.profile .top_bar ul.tabs li.profile_tab_more .tabs_more_menu ul li 
a.tab_link{height:auto;width:auto;display:block;overflow:hidden;margin:0;border-bottom:1px 
solid 
#ededed;background:#f7f7f7;font-size:11px;overflow:hidden;color:#000;font-weight:bold;padding:5px 
8px 5px 8px}
.profile .top_bar ul.tabs li.profile_tab_more .tabs_more_menu ul li 
a:hover.tab_link{text-decoration:none;background-color:#899bc1;color:#fff}
#profile_connect{margin-left:10px}
#profile_connect .profile_connect_button{margin:0;vertical-align:bottom}
#pagelet_ads{width:180px;float:right}
.profile_two_columns #tab_canvas{width:520px}
.profile dl.info{margin:0}
.profile dl.info dt,.profile dl.info dd{padding:1px 0 3px 0}
.profile dl.info dt{float:left;clear:left}
.profile dl.info dd{float:left;margin:0;padding-left:10px}
.UIStory_Hide{display:block;float:right;margin-top:-2px}
.UIStory_Hide a{opacity:0}
.UIStory:hover .UIStory_Hide a,.UIStory_Hide .openToggler a{opacity:1}
.stream_participants_not_expanded .stream_participants_long,.stream_participants_expanded 
.stream_participants_short{display:none}
.UIStory_Privacy a{padding:0 
5px;line-height:12px;display:inline-block;background:url(http://static.ak.fbcdn.net/rsrc.php/zJ/r/izQe4GX_lA2.gif) 
no-repeat center right}
.UIStory_Privacy.UIStory_TargetedPrivacy 
a{background-image:url(http://static.ak.fbcdn.net/rsrc.php/zd/r/UJHgnnKoTwL.gif);padding:0 
7px;line-height:14px}
.UIStory_Privacy .uiTooltip .uiTooltipWrap{left:-1px;bottom:14px}
.UIStory .text_exposed_link{display:block;padding-top:4px;font-size:11px}
.UIIntentionalStory{background-color:#fff;border-top:1px solid 
#eee;margin-bottom:7px;min-height:50px;padding:7px 0 0 60px;position:relative}
.UIStory:first-child{border-top:none;margin-top:0}
.story_preview_nile .UIIntentionalStory{border:none}
.UIIntentionalStory_Location,.UIIntentionalStory_Time,.UIIntentionalStory_Time 
a{color:#777;font-size:11px}
.UIIntentionalStory_BottomAttribution{color:#777}
.UIIntentionalStory_BottomAttribution a{color:#777}
.UIIntentionalStory_Pic{left:0;position:absolute}
.UIIntentionalStory_Image{display:block;position:absolute;vertical-align:middle}
.UIIntentionalStory_Message,.UIIntentionalStory .location{font-size:13px;font-weight:normal}
.UIIntentionalStory_Message_Generated{color:#777}
.UIFeedFormStory_Prompt{color:#777;font-size:13px;padding-right:25px}
.UIFeedFormStory_Prompt .UIFeedFormStory_Lead{font-weight:bold}
.UIFeedFormStory_Prompt 
textarea{font-size:13px;font-weight:normal;margin-top:7px;overflow:hidden;width:100%}
.UIIntentionalStory_Arrow{padding:0 1px}
.UIIntentionalStory_Names{color:#808080}
.UIIntentionalStory_Names a,a.UIIntentionalStory_Names{font-weight:bold}
a.UIIntentionalStory_Names{color:#3b5998}
.UIIntentionalStory_Attribution{color:#808080}
.UIIntentionalStory .UIStoryAttachment_MediaSingle{padding-right:10px}
.UIIntentionalStory_PhotoExtra{padding-left:8px}
.UIIntentionalStory_MediaExtra{display:none;padding-left:8px}
.text_exposed .UIIntentionalStory_MediaExtra{display:block}
.UIIntentionalStory_Info{clear:left;margin-top:3px;min-height:16px;display:block}
.UIActionLinks .UIIntentionalStory_Mobile{margin-top:-2px}
.UIIntentionalStory_InfoText{color:#777;min-height:16px;padding:2px 0 0 0}
.UIIntentionalStory_InfoTextIndented{padding-left:22px}
.UIIntentionalStory_Tagged{background:url(http://static.ak.fbcdn.net/rsrc.php/zV/r/IJYgcESal33.png) 
no-repeat;background-position:0 -395px;padding-left:16px;width:0;display:inline-block}
.story_hide_menu{text-align:center}
.UIIntentionalStory_hover{background:#eee}
.UIIntentionalStory .swfvideo .extra{padding-bottom:0;padding-right:0}
.UIIntentionalStory .UIMediaItem_video{padding-bottom:0}
.UIIntentionalStory_CollapsedStories{background-color:#fff;border-top:1px solid 
#eee;display:block;font-size:9px;font-weight:bold;margin-bottom:7px;padding-top:7px;margin-top:7px;position:relative}
.UIIntentionalStory_CollapsedStoriesLoading{background:#fff 
url(http://static.ak.fbcdn.net/rsrc.php/zb/r/GsNJNwuI-UM.gif) 6px right no-repeat}
.UIMediaItem_ManyItems{float:left}
.UIMediaItem img{display:block}
.UIMediaItem .uiVideoThumb{display:block}
.UIMediaItem_Wrapper{overflow:hidden}
.UIMediaItem_Photo .UIMediaItem_Wrapper{display:inline-block}
.UIMediaItem_Photo .UIMediaItem_PhotoFrame{border:3px solid white}
.UIMediaItem_UnknownWidth img{max-width:90px;max-height:90px}
.UIRecentActivityStory{background:#fff;clear:both;display:block;padding-top:4px;position:relative}
.UIRecentActivityStory_First{padding-top:0}
.UIRecentActivityStory .UIRecentActivity_Time{color:#777;font-size:9px;margin-left:4px}
.UIRecentActivity_Body{min-height:18px}
.UIRecentActivityStory .UIStoryAttachment_MediaSingle{padding-right:10px}
.UIRecentActivityStory .UIStoryAttachment{font-size:11px}
.UIRecentActivity_Stream{padding:4px 0 14px}
.UIStream_Border{border-top:solid #eee 1px;padding-top:12px}
a.UIStream_Chunk_Expand{display:block;padding:0 2px 0 22px;margin:2px 0 4px}
.UIRecentActivity_Stream{padding-left:60px}
.UIRecentActivity_Stream 
.UIRecentActivity_Header{color:#aaa;font-size:9px;font-weight:bold;padding:2px 0 5px}
.UIRecentActivity_Stream .UIStory_Hide{margin-top:-4px;float:right}
.UIRecentActivityStream_Interspersed{padding:12px 0 12px 58px}
.UIStoryAttachment{margin-top:6px;overflow:hidden;padding-right:10px;margin-bottom:5px}
.UIStoryAttachment_Tab{position:absolute}
.UIStoryAttachment_Icon{background:#fff;padding-bottom:2px}
.UIStoryAttachment_BlockQuote{border-left:2px solid #ccc;padding:0 0 3px 8px}
.UIStoryAttachment_BlockQuote .UIStoryAttachment_Title{margin-top:0}
.UIStoryAttachment_Media{float:left;overflow:hidden;padding-right:10px}
.UIStoryAttachment_MediaWide{float:none}
.UIStoryAttachment_MediaShortened .UIStoryAttachment_MediaWide{float:left}
.text_exposed .UIStoryAttachment_MediaShortened 
.UIStoryAttachment_MediaWide{float:none;display:block}
.UIStoryAttachment_Info{display:table}
.text_exposed .UIStoryAttachment_MediaShortened .UIStoryAttachment_Info,.UIStory_Open 
.UIStoryAttachment_Info{display:block;clear:left}
.UIStoryAttachment_Title{font-weight:bold;padding-top:3px}
.UIStoryAttachment_TitleAbove{margin:0}
.UIStoryAttachment_TitleAboveMedia{margin:0 0 5px}
.UIStoryAttachment_TitleBelow{clear:left;padding:5px 0 0}
.UIStoryAttachment_Title_Byline{color:#777;font-weight:normal}
.UIStoryAttachment_Title_Byline a{font-weight:bold}
.UIStoryAttachment_Caption{color:#808080;padding-top:3px}
.UIStoryAttachment_Copy{color:#808080;padding:3px 0}
.UIStoryAttachment_Copy .CopyTitle{font-weight:bold}
.UIStoryAttachment_Copy table{border-collapse:collpase}
.UIStoryAttachment_Copy table td{padding:2px 2px 0 0}
.UIStoryAttachment_Table{padding-top:2px}
.UIStoryAttachment_Tags{color:#808080;padding:0 0 3px}
.UIStoryAttachment_Label{color:#999;padding-right:4px}
.UIStoryAttachment_Tags .UIStoryAttachment_Label{background:transparent 
url(http://static.ak.fbcdn.net/rsrc.php/zV/r/IJYgcESal33.png) no-repeat left 
-395px;padding-left:16px}
.UIStoryAttachment_InlineInfo .UIStoryAttachment_Copy,.UIStoryAttachment_InlineInfo 
.UIStoryAttachment_Title{display:inline}
.PillFilter_pillfilter{font-weight:bold;font-size:11px;line-height:15px}
.PillFilter_small{font-weight:normal;font-size:9px;line-height:11px}
.PillFilter_pillfilter .PillFilter_filter{outline:none;padding-right:4px}
.PillFilter_small .PillFilter_filter{padding-right:2px}
.PillFilter_pillfilter label{float:left;padding:2px 8px 3px 0}
#facebook .PillFilter_pillfilter .PillFilter_filter.Tabset_selected 
a{color:#fff;cursor:default;text-decoration:none}
.PillFilter_pillfilter .PillFilter_filter .bl{padding:2px 6px 3px}
.PillFilter_small .PillFilter_filter .bl{padding:2px 6px}
.PillFilter_pillfilter .PillFilter_filter.Tabset_selected 
div{background:url(http://static.ak.fbcdn.net/rsrc.php/z8/r/H4aimDoXxiJ.gif) left top 
no-repeat}
.PillFilter_on_blue .PillFilter_filter.Tabset_selected 
div{background:url(http://b.static.ak.fbcdn.net/rsrc.php/z6/r/9m9m905kCqk.gif) left top 
no-repeat}
.PillFilter_on_gray .PillFilter_filter.Tabset_selected 
div{background:url(http://b.static.ak.fbcdn.net/rsrc.php/zm/r/Www99zyBVx_.gif) left top 
no-repeat}
.PillFilter_pillfilter .PillFilter_filter.Tabset_selected .tl{background-position:left 
top;float:left}
.PillFilter_pillfilter .PillFilter_filter.Tabset_selected .tr{background-position:right top}
.PillFilter_pillfilter .PillFilter_filter.Tabset_selected .br{background-position:right 
bottom}
.PillFilter_pillfilter .PillFilter_filter.Tabset_selected .bl{background-position:left bottom}
ul.Tabset_tabset li{float:left;display:inline}
.typeahead_search{border-width:0;border-style:none}
.typeahead_search .typeahead_list_with_shadow{background:transparent 
url(http://b.static.ak.fbcdn.net/rsrc.php/z4/r/-mfA2ths4nn.png) no-repeat bottom left;border:0 
none;padding:0 4px 4px 4px}
.typeahead_search .typeahead_list_fbx{background:transparent}
.typeahead_search .suggestions_bottom_border{border-bottom:solid 1px #3b5998}
.typeahead_search .no_border_list{border:none}
.typeahead_search .typeahead_suggestions{border-left:1px solid #95a5c6;border-right:1px solid 
#95a5c6;height:auto;width:auto}
.typeahead_search .typeahead_suggestion{opacity:1.0}
.typeahead_search .icon{background-position:-16px 
0;background-repeat:no-repeat;display:inline;float:left;margin-left:10px;margin-right:5px;height:16px;width:16px}
.typeahead_search .typeahead_selected .icon{background-position:left top}
.typeahead_search .app{overflow:hidden}
.typeahead_search .app span{float:left;padding:1px 0 0 1px;width:142px}
.typeahead_search .typeahead_suggestion{overflow:hidden;position:relative}
.typeahead_search img{border:1px solid 
white;position:absolute;margin-top:2px;line-height:1px;height:25px;width:25px;top:1px}
.typeahead_search .typeahead_selected img{border:1px solid #6e84b3}
.typeahead_search .with_pic{padding-left:32px;min-height:27px}
.typeahead_search .typeahead_suggestion .with_pic small{padding:1px 0}
.typeahead_search .typeahead_suggestion .with_pic small,.typeahead_search 
.typeahead_suggestion .with_pic span{display:block;padding-left:0}
.typeahead_mentions{border:1px solid #bbb;border-top:none}
.typeahead_mentions .typeahead_message{background:#f2f2f2;border:none;border-top:1px solid 
#ddd;padding:5px}
.typeahead_mentions .typeahead_suggestions{border:none}
.UIGridRenderer .UIGridRenderer_Row{padding-bottom:10px}
.UIGridRenderer .UIGridRenderer_Last{margin-right:0 !important;padding-right:0 !important}
.UIPortrait_WIDE,.UIPortrait_TALL,.UIPortrait_TALL_SIZE_SMALL{display:block;float:left;overflow:hidden;padding-right:6px;position:relative}
.UIPortrait_TALL{width:57px}
.UIPortrait_WIDE{height:70px;width:185px}
.UIPortrait_TALL_SIZE_SMALL{padding-right:4px;width:33px}
.UIPortrait_WIDE .title,.UIPortrait_TALL .title{display:block;float:left}
.UIPortrait_Text{float:left;width:57px}
.UIPortrait_WIDE .UIPortrait_Text,.UIPortrait_WIDE 
.UIPortrait_NavItem{float:left;margin-left:12px;width:121px}
.UIPortrait_WIDE .UIPortrait_Text{font-weight:bold;margin-top:10px}
.UIProfileImage_LARGE{width:50px;height:50px}
.UIProfileImage_SMALL{width:32px;height:32px}
.UIProfileImage_TINY{width:25px;height:25px}
.UITitle{font-weight:bold;margin:0;padding:0}
.UITitle_h1{font-size:16px}
.UITitle_h2{font-size:15px}
.UITitle_h3{font-size:14px}
.UITitle_h4{font-size:13px}
.UITitle_h5{font-size:11px}
.UITitle_Inline{display:inline}
.UITitle_Section{position:relative}
.UITitle_Body{float:left;padding-right:3px}
.UITitle hr{background:#e5e5e5;color:#e5e5e5;position:relative}
.UITitle_h4 hr{top:9px}
.UITitle_h5 hr{top:7px}

#bootloader_css_5xd9tlxz8uo80ww0_pkg_css { height: 42px; }
