/* =Reset
-----------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0;
}
#pageHome #left p,
#pageHome #right p {
	margin: 0;
}
a {
	color: #2B4FE9;
}

.highlight {
	background: url('../images/righttip.png') no-repeat top right;
}
.highlight a {
	color: white;
	text-decoration: none;
}
/* =Headings
-----------------------------------------------------------------------*/
h1 {
color:#333333;
float:left;
font-size:30px;
font-weight:bold;
padding:0 0 0 21px;
}
h1.Features {
	font-size: 24px;
	text-transform: none;
}
h2 {
	margin-bottom: 5px;
	color: #A62428;
}
h2.caps {
	text-transform: uppercase;
}
#left h2 {
	margin-top: 2.0em;
	margin-bottom: -10px;
	color: #000000;
}
#pageHome #left h2 {
	margin-top: 0;
	margin-bottom: 5px;
}
h3 {
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 28px;
	color: #000000;
	line-height: 1.2em;
}
h3 a {
	color: #000000;
}

/* =Common
-----------------------------------------------------------------------*/
.hidden {
	visibility: hidden;
}
.alignCenter {
	text-align: center;
}
.alignRight {
	text-align: right;
}
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
.marginLeft {
	margin-left: 20px;
}
.marginRight {
	margin-right: 20px;
}
.clear {
	clear: both;
}
.bordered {
	border: 3px solid #808080;
}
.error {
	padding: 10px 15px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #FF0000;
}
.formError {
	display: block;
	margin-left: 140px;
	color: #FF0000;
	font-size: 0.85em;
}
.none {
	display:none;
}

/* =FrameAbout
-----------------------------------------------------------------------*/
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	background: #fff url(../images/body-bkg.jpg) no-repeat center top;
	margin: 0 0 100px 0;
	color: #606060;
}
#topBar {
	background: #FA6600;
	border-bottom: 1px solid #FFFFFF;
	height: 15px;
}
#container {
	font-size: 0.8em;
	line-height: 1.6em;
	margin: 0 auto;
	width: 755px;
	height: auto;
}
#header {
	padding: 10px 10px 10px;
}

	/* Navigation Sub-Styles */
	#navigation {
		float: right;
		margin-top: 19px;
	}
	#navigation ol {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	#navigation li {
		float: left;
	}
	#linkHome {
		width: 58px;
		height: 29px;
		background: url('../images/nav-home.png') no-repeat;
	}
	#linkFeatures {
		width: 56px;
		height: 29px;
		background: url('../images/nav-Features.png') no-repeat;
	}
	#linkPricing {
		width: 85px;
		height: 29px;
		background: url('../images/nav-Pricing.png') no-repeat;
	}
	#linkAbout {
		width: 63px;
		height: 29px;
		background: url('../images/nav-About.png') no-repeat;
	}
	#linkContact {
		width: 86px;
		height: 29px;
		background: url('../images/nav-contact.png') no-repeat;
	}
	#navigation a {
		display: block;
		padding: 0;
		margin-left: 20px;
		text-decoration: none;
		background-position: 0 -29px;
	}
	#navigation a:hover {
		background-position: 0 0;
	}
	#navigation a.selected {
		font-weight: bold;
	}
	#pageHome #linkHome,
	#pageFeatures #linkFeatures,
	#pagePricing #linkPricing,
	#pageAbout #linkAbout,
	#pageContact #linkContact {
		background-position: center -58px;
		border-left: 1px solid #999999;
		border-right: 1px solid #999999;
		margin: 0 10px 0 30px;
		padding: 0 10px;
	}
	/* End Navigation Sub Styles */

#main {
/*	background: url(../images/gradient-29Oct2010.png) repeat-x left top;*/
	width: 755px;
	height: auto;
}
#splash {
	padding: 0px 0px;
	position: relative;
}
#learnMore {
	position: absolute;
	top: 475px;
	left: 750px;
}
#pageHome #content {
	padding: 20px 20px;
	height: auto;
}
#left {
	float: left;
	width: 620px;
}
#pageAbout #left {
	float: left;
	line-height: 1.6em;
	width: 560px;
	padding: 30px 5px;
}
#pageHome #left {
	padding: 20px;
}
#pageBasic #left {
	float: left;
	line-height: 1.6em;
	width: 270px;
	padding: 15px;
}
#pagePlus #left {
	float: left;
	line-height: 1.6em;
	width: 270px;
	padding: 15px;
}
#pageInboxes #left {
	float: left;
	line-height: 1.6em;
	width: 315px;
	padding: 15px;
}
#pageContent #left {
	float: left;
	line-height: 1.6em;
	width: 270px;
	padding: 15px;
}

#pageEnterprise #left {
	float: left;
	line-height: 1.6em;
	width: 308px;
	padding: 15px;
}
#pageConfirm  #left {
	float: left;
	line-height: 1.6em;
	width: 325px;
	padding: 15px;
}
#pageConfirm  #right {
	float: right;
	line-height: 1.6em;
	width: 500px;
	padding: 5px;
}

#pageSupport #left {
	float: left;
	line-height: 1.6em;
	width: 200px;
	padding: 15px;
	font-size: 1.1em;
}
#pageSupport #right {
	float: right;
	line-height: 1.6em;
	width: 610px;
	padding: 5px;
}
#pageDocs #left {
	float: left;
	line-height: 1.6em;
	width: 200px;
	padding: 15px;
	font-size: 1.1em;
}
#pageDocs #right {
	float: right;
	line-height: 1.6em;
	width: 620px;
	padding: 5px;
	min-height: 420px;
}

#pageConfirm fieldset {
border:1px solid #CCCCCC;
margin-bottom:5px;
}
#right {
	float: right;
	width: 100px;
	margin-right: 5px;
}
#pageHome #right {
	padding: 20px;
}

#pageBasic #right {
	float: right;
	width: 550px;
}
#pageBasic fieldset {
	border: 1px solid #ccc;
	width: 300px;
	margin-bottom: 5px;
	margin-bottom: 5px;
}

#pageBasic legend {
	font-size: 1.5em;
	color: #606060;
}

#pagePlus #right {
	float: right;
	width: 550px;
}

#pageInboxes #right {
	float: right;
	width: 515px;
	min-height: 420px;
}
#pageEnterprise #right {
	float: right;
	width: 500px;
}
#pagePlus fieldset {
	border: 1px solid #ccc;
	width: 300px;
	margin-bottom: 5px;
	margin-bottom: 5px;
}
#pagePlus legend {
	font-size: 1.5em;
	color: #606060;
}
#callToAction {
	background-color: #F5F5F5;
	margin-top: 30px;
	border: 3px solid #FFFFFF;
	padding: 15px;
}
#footer {
	clear: both;
	background: url(../images/footer-bkg.gif) no-repeat left top;
	padding: 15px 10px 50px;
	text-align: right;
	font-size: 0.85em;
	color: #333333;
}

#left li {
	text-decoration: none;
	list-style-type: none;
	//max-height: 50px;
}

#tabs li {
	text-decoration: none;
	list-style-type: none;
}

form li {
	text-decoration: none;
	list-style-type: none;
}

.radio_list li {
	text-decoration: none;
	display: inline;
	font-size: 10px;
	position: relative;
	top: -20px;
	margin-top: none;
}

.mceContentBody {
	font-size: 1em;
}
#show2, #show3, #show4, #show5, #show6, #show7, #show8, #show9, #show10 {
	display: none;
}

label {
	font-size: 1.5em;
	width: 72px;
	display: inline-block;
}

#tabs-1 label {
	font-size: 1.5em;
	width: 95px;
	display: inline-block;
	color: #606060;
}

.error_list {
	border: 1px solid #ff1414;
	background: #fc9d92 url(../images/jquery/ui-bg_inset-soft_75_fc9d92_1x100.png) 50% bottom repeat-x;
	color: #2e2e2e;
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	-webkit-border-bottom-left-radius: 3px 3px;
	-webkit-border-bottom-right-radius: 3px 3px;
	-webkit-border-top-left-radius: 3px 3px;
	-webkit-border-top-right-radius: 3px 3px;
}

.choicenix {
	background: none;
	border: none;
	padding: none;
}

.fancybutton {
	background:transparent none repeat scroll 0 0;
	border:medium none;
	color:#fff;
	cursor:pointer;
	font-family:"Lucida Grande",Tahoma,Arial,Verdana,sans-serif !important;
	font-size:14px;
	font-weight:bold;
	height:30px;
	left:-9px;
	margin-right:-35px;
	margin-top:-2px;
	padding-left:10px;
	padding-right:11px;
	position:relative;
	text-decoration:none;
}
/*.rightbutton {
    background: url(../images/leftbutton.png) left top no-repeat;
	float: left;
    margin-right: 15px;
	height: 30px;
    line-height: 30px;
	padding-right: -30px;
	color: #fff;
	text-decoration: none;
}*/
.rightbutton {
    background: url(../images/leftbutton.png) left top no-repeat;
	float: left;
    margin-right: 15px;
	height: 30px;
    line-height: 30px;
	padding-right: 5px;
	padding-left: 5px;
	color: #fff;
	text-decoration: none;
}
.rightbutton:hover {
	    background: url(../images/leftbutton_hover.png) left top no-repeat;
}
.rightbutton.disabled {
	background-image: url(../images/leftbutton_disabled.png);
}
.rightbutton .disabled:hover {
	background-image: url(../images/leftbutton_disabled.png) left top no-repeat;
}
.leftbutton {
    float: left;
	background: url(../images/rightbutton.png) right top no-repeat;
    height: 34px;
	padding-left: 0px;
    padding-right: 0px;
	position: relative;
}
.leftbutton:hover {
	    background: url(../images/rightbutton_hover.png) right top no-repeat;
}
.leftbutton.disabled {
	background-image: url(../images/rightbutton_disabled.png);
}
.leftbutton .disabled :hover {
	background-image: url(../images/rightbutton_disabled.png) right top no-repeat;;
}

/* =Home
-----------------------------------------------------------------------*/
#recentFeatures a {
	color: #A62428;
	text-decoration: none;
}
#recentFeatures a:hover {
	text-decoration: underline;
}
#recentFeatures .post {
	background: url('../images/horizontal-rule.gif') no-repeat 0 0;
	padding: 20px 0 10px;
}
#recentFeatures .date {
	float: left;
	width: 70px;
	margin-right: 20px;
}
#recentFeatures .summary {
	float: left;
	line-height: 1.6em;
	width: 470px;
}
#recentFeatures .FeaturesLink {
	font-size: 0.85em;
}
#pageHome #recentFeatures p.FeaturesInfo {
	margin-top: 10px;
}

.liner{
	width: auto;
	height: auto;
	margin-bottom: 15px;
}

/* =Left
-----------------------------------------------------------------------*/
#breadcrumbs {
	background: url('../images/home-icon.gif') no-repeat 0 4px;
	padding-left: 20px;
	margin-bottom: 20px;
	font-size: 0.85em;
}
#pageAbout #breadcrumbs {
	background-position: 0 1px;
	margin-left: 25px;
}
#breadcrumbs a {
	color: #404040;
	text-decoration: none;
}
#breadcrumbs a:hover {
	text-decoration: underline;
}
#intro {
	font: 1.8em/1.6em Georgia, "Times New Roman", Times, serif;
	margin-top: 10px;
}

/* =Right
-----------------------------------------------------------------------*/
#subscribe {
	background: url('../images/horizontal-rule-short.gif') no-repeat center bottom;
	padding-bottom: 20px;
	margin-bottom: 30px;
}
#featuredAbout,
#subscribe,
#FeaturesCategories {
	background: url('../images/horizontal-rule-short.gif') no-repeat center bottom;
	padding-bottom: 30px;
	margin-bottom: 25px;
}
#latestTweet {
	padding-top: 5px;
	background: url('../images/twitter-bird.png') no-repeat 160px 0;
}
#tweet {
	background: url('../images/tweet-top-bkg.png') no-repeat 0 0;
	line-height: 1.6em;
	padding: 20px 20px 15px;
}
#sulumits {
	background: url('../images/horizontal-rule-short.gif') no-repeat center top;
	margin-top: 20px;
	padding-top: 20px;
	line-height: 1.6em;
}
#tweetDate {
	background: url('../images/tweet-bottom-bkg.png') no-repeat 0 0;
	font-size: 0.85em;
	padding: 35px 10px 0;
}
.quote {
	background: url('../images/quote-marks.png') no-repeat 0 0;
	font: italic 1.2em/1.6em Georgia, "Times New Roman", Times, serif;
	padding: 0 10px 0 20px;
}
.quoted {
	font: italic 0.9em Georgia, "Times New Roman", Times, serif;
	padding: 0 10px 0 20px;
}
#links ul,
#FeaturesCategories ul {
	margin: 0 0 0 5px;
	padding: 0;
}
#links li,
#FeaturesCategories li {
	list-style: none;
	margin-bottom: 10px;
}
#about {
	line-height: 1.6em;
}
a.link {
	color: #606060;
	text-decoration: none;
}
a.link:hover {
	text-decoration: underline;
}

/* =Inboxes
----------------------------------------------------------------------*/
#emails li {
	height: 30px;
	font-size: 1.4em;
	color: #fff;
	padding: 5px 0px 0px 7px;

}
#emails li:active {
}

/* =Confirm
-----------------------------------------------------------------------*/
#pageConfirm label {
	width: 110px;
}
#pageConfirm  #right{
	font-size: 1.2em;
}

#siteseal {
	float: right;
	width: 900px;
}
/* =Home
-----------------------------------------------------------------------*/
#pricing {
	margin-left: 40px;
}
#pricing tr {
	border: none;
}
#pricing th {
	width: 150px;
	min-height: 38px;
	border-right: 1px solid #BBBBBB;
	color: black;
}
#pricing table {
	//border: none;
}
.row {
	//background:transparent url(/img/pricing/plan_labels_bg.png) repeat-y scroll right center;
	//color:#FFFFFF;
	height:36px;
	padding-right:8px;
	width:185px;
	padding: 0px;
	border-bottom: 1px #ccc;
}

.checkmark {
	background: transparent url(../images/pricing/check.png) no-repeat;
	height:27px;
	margin:0 auto;
	padding:0;
	width:27px;
}
.basicHeader {
	//background: url(../images/pricing_bg.jpg) repeat-x left top;
	border-top: 1px solid #bbb;

	color:#202020;
	font-size:1.2em;
	height:75px;
	text-align:center;
	height: 75px;
}
.basic {
	color:#202020;
	font-size:1.2em;
	text-align:center;
}
.more_info_light {
	background-image:url(../images/more_info.png);
	background-repeat:no-repeat;
	float:right;
	height:16px;
	margin:1px 3px 0 0;
	width:16px;
}
.caption {
	margin: 3px 5px;
	font-size: 0.5em;
	font-style: italic;
	font-weight: normal;
}
/* =Content
-----------------------------------------------------------------------*/
#pageContent #droppable {
float:right;
width:500px;
}

/* = FAQ
-----------------------------------------------------------------------*/
#pageFAQ #right h3 {
color:#000000;
font-size:1.4em;
margin-top:15px;
}
#pageFAQ #right {
min-height: 420px;
}
/* =Features
-----------------------------------------------------------------------*/

#pageFeatures  #right h3 {
	margin-top: 15px;
	font-size: 1.4em;
	color: #000000;
}
#features_overview {
	padding-left:10px;
}
#left #features_overview p {
	padding-left:85px;
	min-height: 60px;
	margin-bottom: 10px;
	font-size: 1.1em;
}
#features_overview p.icon1 {
	background: url('../images/customizable.jpg') no-repeat scroll 8px center;
}
#features_overview p.icon2 {
	background: url('../images/mglass.jpg') no-repeat scroll 8px center;
}
#features_overview p.icon3 {
	background: url('../images/alarm.png') no-repeat scroll 8px center;
}
#features_overview p.icon4 {
	background: url('../images/easy.jpg') no-repeat scroll 8px center;
}
#features_overview p.icon5 {
	background: url('../images/new.jpg') no-repeat scroll 8px center;
}

div.comment {
	background: url('../images/horizontal-rule.gif') no-repeat 0 0;
	padding: 20px 0 0;
	margin-top: 20px;
}
div.comment .gravatar {
	float: left;
	width: 100px;
}
div.comment .gravatar img {
	border: 3px solid #C5C5C5;
	padding: 1px;
	backgroun-color: #FFFFFF;
}
div.comment .commentContent {
	float: right;
	width: 450px;
	margin-top: -15px;
}
div.comment .commentDate {
	font-size: 0.8em;
}
#commentForm {
	background: url('../images/horizontal-rule.gif') no-repeat 0 0;
	padding-top: 20px;
	margin-top: 20px;
}
#commentForm label {
	float: left;
	width: 100px;
}
#commentForm input {
	font: 1.0em Arial, Helvetica, sans-serif;
}
#commentForm input.text {
	width: 250px;
}
#commentForm textarea {
	font: 1.0em Arial, Helvetica, sans-serif;
	width: 400px;
	height: 150px;
}

/* =About
-----------------------------------------------------------------------*/
#pageAbout #right {
	min-height: 400px;
}
#pageAbout h1 {
	margin-left: 25px;
}
#pageAbout h2 {
	margin-top: 15px;
	font-size: 1.4em;
	color: #000000;
}
#pageAbout p.textBlock {
	margin-left: 25px;
}
#pageAbout .item {
	float: left;
	width: 260px;
	margin: 0 25px 25px;
	line-height: 1.5em;
}
#pageAbout .item img {
	background-color: #FFFFFF;
	padding: 4px;
	border: 1px solid #C5C5C5;
}
#pageAbout .item a {
	display: block;
	font-size: 0.9em;
	margin-top: 10px;
	text-decoration: none;
}
#pageAbout .item a:hover {
	text-decoration: underline;
}
#otherAbout {
	display: none;
}

/* =Contact
-----------------------------------------------------------------------*/
#pageContact fieldset {
	border: 1px solid #E5E5E5;
	padding: 10px 20px;
}
#pageContact label {
	clear: both;
	float: left;
	width: 120px;
	margin: 3px 20px 0 0;
	text-align: right;
}
#pageContact input.text {
	width: 300px;
	padding: 3px;
	color: #404040;
	border: 1px solid #D5D5D5;
}
#pageContact select {
	width: 250px;
	height: 25px;
	padding: 3px;
	color: #404040;
	border: 1px solid #D5D5D5;
}
#pageContact textarea {
	width: 350px;
	height: 200px;
	padding: 3px;
	font: 1.0em/1.6em Arial, Helvetica, sans-serif;
	color: #404040;
	border: 1px solid #D5D5D5;
}
#indicator0,#indicator1,#indicator2,#indicator3,#indicator4,#indicator5,#indicator6,#indicator7,#indicator8,#indicator9,#indicator10 {
	display: none;
	background: url(../images/loader.gif)  no-repeat center top;
	width: 16px;
	height: 16px;
}

/*tooltips
--------------------------------------------------------------------------*/
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #A62428;
	background-color: #fff;
	padding: 5px;
	opacity: 0.85;
	cursor: pointer;
	width: 200px;
}
#tooltip h3, #tooltip div { font-size: 14px;margin: 0; }

.tooltip {
	font-size: 12px;
}
/*blog css */
.post {
	background: url('../images/horizontal-rule.gif') no-repeat 0 0;
	padding: 20px 0 10px;

}
#price {
color:#33332F;
float:left;
font-size:40px;
font-weight:bold;
width:140px;
float: right;
}
#amenities ul li div.has {
background-position: 0px 0px;
}
#amenities ul li div.has_not {
background-position: -17px 0px;
}
#amenities ul li div {
background: transparent url(/images/amenities_icons.gif) no-repeat 0px 0px;
float: left;
height: 17px;
width: 17px;
}
#amenities ul {
float: left;
padding-left: 11px;
width: 202px;
}
#amenities ul li {
list-style-type:none;
}
#description_details {
border:1px solid #D9D9D6;
float:left;
margin-left:10px;
padding:8px 4px;
width:220px;
}
#details #description_text {
border: 1px solid #D9D9D6;
float: left;
height: 350px;
overflow: auto;
padding: 8px;
width: 380px;
}

.rounded{-moz-border-radius:5px;-webkit-border-radius: 5px;}
.rounded_less{-moz-border-radius:3px;-webkit-border-radius: 3px;}
.rounded_more{-moz-border-radius:10px;-webkit-border-radius: 10px;}
.rounded_most{-moz-border-radius:20px;-webkit-border-radius: 20px;}

.rounded_left{-moz-border-radius-topleft:5px;-moz-border-radius-bottomleft:5px; -webkit-border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px; }
.rounded_right{-moz-border-radius-topright:5px;-moz-border-radius-bottomright:5px; -webkit-border-top-right-radius: 5px; -webkit-border-bottom-right-radius: 5px; }


.rounded_top{ -moz-border-radius-topright:10px;-moz-border-radius-topleft:10px; -webkit-border-top-right-radius: 10px; -webkit-border-top-left-radius: 10px; }
.rounded_bottom{ -moz-border-radius-bottomright:10px;-moz-border-radius-bottomleft:10px; -webkit-border-bottom-right-radius: 10px; -webkit-border-bottom-left-radius: 10px; }
.rounded_bottom_left{-moz-border-radius-bottomleft:10px; -webkit-border-bottom-left-radius: 10px; }
.rounded_bottom_right{-moz-border-radius-bottomright:10px; -webkit-border-bottom-right-radius: 10px; }

#search_form{float:left; position:relative;}
#as-selections-q {
border:1px solid #a8a8a8;
display:block;
float:left;
font-size:26px;
height:28px;
line-height:34px;
padding:7px 0 5px 10px;
width:600px;
border-width:1px 0 1px 1px;
-moz-box-shadow:0 0 5px #a8a8a8 inset;
-webkit-box-shadow:inset 0 0 5px #a8a8a8;
-moz-border-radius-topright:0;
-moz-border-radius-bottomright:0;
-webkit-border-top-right-radius: 0;
-webkit-border-bottom-right-radius: 0;
font-weight:bold;
font-family:inherit;
overflow:hidden;
letter-spacing:-.5px;}
    #as-selections-q:focus{outline:none;}

    #search_form input{color:#d3d3d3; font-weight:normal;}
    #search_form input.active{color:#3d3d3d !important; font-weight:bold !important;}

#search_inputs{width:255px; background:#ececec; height:42px; padding:3px 0 0 14px; float:left; border:1px solid #a8a8a8; border-right:0; overflow:hidden;}
    #search_form input.date{width:70px; color:#3d3d3d !important; font-weight:normal !important;}
    .dates_section{width:90px; float:left;}
    .guests_section{width:75px; float:left;}

    .search_v3_submit_location{min-width:120px; height:47px; background:#ffffff url('/images/page2/v3/search_button_bgs.png') repeat-x 0 0 !important; color:#204001 !important; margin:0; padding:0 0 0 6px !important; font-weight:bold !important;
        -moz-border-radius-topleft:0; -webkit-border-top-left-radius: 0;
        -moz-border-radius-bottomleft:0; -webkit-border-bottom-left-radius: 0;
        -moz-box-shadow:1px 1px 0 #ffffff inset; -webkit-box-shadow:inset 1px 1px 0 #ffffff;
        font-size:18px !important;
    }

    .search_v3_submit_alternative{-moz-border-radius:7px; -webkit-border-radius:7px; border-radius:7px; padding:0 !important;}

        /* necessary?
                                   //*html #submit_location{margin-left:-3px;}
        */
    .search_v3_submit_location:hover{background-position:0 -45px !important; color:#204001 !important; -moz-box-shadow:1px 1px 0 #ffffff inset; -webkit-box-shadow:inset 1px 1px 0 #ffffff;}
    .search_v3_submit_location:active{background-position:0 -90px !important; color:#204001 !important; -moz-box-shadow:1px 1px 0 #ffffff inset; -webkit-box-shadow:inset 1px 1px 0 #ffffff;}
    #search_magnifying_glass{ background:transparent url(/images/page2/v3/magnifying_glass.png) no-repeat scroll 0 0; height:16px; position:absolute; left:611px; top:15.5px; width:16px;}

#search_type_toggle{float:right; display:block; height:39px; background:transparent; overflow:hidden; margin-top:3px; margin-right:11px; color:#413d3d; }
    #search_type_toggle .search_type_option{width:69px; float:left; height:26px; background:#e8e8e8 url('/images/page2/v3/search_toggle_button_bgs.png') repeat-x 0 -36px; border:1px solid #a8a8a8; -moz-box-shadow:1px 1px 0 #ffffff inset; -webkit-box-shadow:inset 1px 1px 0 #ffffff; text-align:center; padding-top:10px; font-size:14px; font-weight:bold; cursor:pointer; text-shadow: #ffffff 1px 1px 0;}
    #search_type_toggle .search_type_option_hover{background-position:0 0 !important;}
    #search_type_toggle .search_type_option_active{color:#3d3d3d; -moz-box-shadow:-1px -6px 14px #A9D6FA inset; -webkit-box-shadow:-1px -6px 14px #A9D6FA inset; box-shadow:-1px -6px 14px #A9D6FA inset; border-color:#919090; background:#2895E5;text-shadow:0 1px 0 #444444; color:#ffffff;}
    #search_type_list{border-right:0 !important;}
    #search_type_photo{border-right:0 !important;}
    #search_type_map{}

/* inset 1px 1px 0 #ffffff, inset 0 9px 16px #a6a6a6 */
#search_params{-moz-border-radius-topleft:10px;
-moz-border-radius-topright:10px;height:47px; width:744px; border-bottom:1px solid #a8a8a8; background:#d1d1c9; padding:9px 0 9px 11px; position:relative; z-index:1000;}
#v3_search, #search_header, #search_body, .search_result, .price, .room_title, #search_filters, #results{overflow:hidden;}
#v3_search{width:744px; overflow:hidden; background:#ddddd5; border:1px solid #a8a8a8; -moz-border-radius-bottomleft:0; -webkit-border-bottom-left-radius: 0; padding-bottom:10px; background:#ffffff url('/images/page2/v3/v3_search_bg.gif') repeat-y 0 0;}

.map_view{background:none !important; -moz-border-radius-bottomleft:0; -webkit-border-bottom-left-radius:0; -moz-border-radius-bottomright:0; -webkit-border-bottom-right-radius:0; padding-bottom:0 !important;}

#search_header{height:150px; width:760px; border-bottom:1px solid #a8a8a8; background:#ecebf0 url('/images/landing_pages/backgrounds/default_landing_page_background.jpg') no-repeat 0 0;}

#search_body {
-moz-box-shadow:-2px -22px 20px #555555;
background:none repeat scroll 0 0 #FFFFFF;
float:left;
margin-right:1px;
min-height:340px;
position:relative;
width:755px;
z-index:1;
}
#searchpage {
-moz-border-radius-topright: 10px;
-moz-border-radius-topleft: 10px;
-webkit-border-radius-topright: 10px;
-webit-border-radius-topleft: 10px;
border:1px solid #A8A8A8;
overflow:hidden;
padding-bottom:10px;
width:755px;
background:none repeat scroll 0 0 #F2F2EB;
z-index:-1;
}
.v3_button{color:#FFFFFF !important; height:42px; width:auto; font-size:18px; cursor:pointer; padding:5px 28px; background:transparent url('../images/v3_button_bgs_001.png') repeat-x 0 0; border:1px solid #85AA40; font-weight:bold; text-align:center; -moz-border-radius:7px;-webkit-border-radius: 7px; -webkit-box-shadow:0 0 6px transparent; font-family:Arial, Helvetica, Tahoma;}

.v3_button:hover{-moz-box-shadow:0 0 6px #b9b9b9; -webkit-box-shadow:0 0 6px #b9b9b9;}
.v3_button:active{background-color:#748e2b; background-image:none; color:#eeeeee !important;}
.v3_button[disabled], .v3_button[disabled="disabled"], .disabled{-webkit-box-shadow:none !important; -moz-box-shadow:none !important; background-position:0 -84px !important; border-color:#999999 !important; color:#e9e9e9 !important;}

.v3_blue{background-position:0 -42px !important; border-color:#679bbc !important;}
.v3_blue:active{background-color:#4689bb; }

.v3_orange{background-position:0 -126px !important; border-color:#fc8300 !important;}
.v3_orange:active{background-color:#d07a1d; }

.v3_red{background-position:0 -168px !important; border-color:#c63e3c !important;}
.v3_red:active{background-color:#d43937;}

.v3_fixed_width{padding:5px 0 !important;}

/* slightly different styles for a buttons */
a.v3_button{display:block; line-height:22px; text-decoration:none; height:22px; padding:10px 28px; float:right;}
a.v3_fixed_width{padding:10px 0 !important;}
.homebox {
width: 230px;
height: 175px;
}
#location {
border:1px solid #a8a8a8;
display:block;
float:left;
font-size:26px;
height:28px;
line-height:34px;
padding:7px 0 5px 10px;
width:315px;
border-width:1px 0 1px 1px;
-moz-box-shadow:0 0 5px #a8a8a8 inset;
-webkit-box-shadow:inset 0 0 5px #a8a8a8;
-moz-border-radius-topright:0;
-moz-border-radius-bottomright:0;
-webkit-border-top-right-radius: 0;
-webkit-border-bottom-right-radius: 0;
font-weight:bold;
font-family:inherit;
letter-spacing:-.5px;}
.price {
float:right;
margin-top:-4px;
width:128px;
}
.price_data {
color:#3D3D3D;
float:right;
font-size:36px;
font-weight:bold;
height:44px;
letter-spacing:-0.5px;
line-height:44px;
padding:2px 10px 0 0;
}
.currency_if_required {
float:right !important;
font-size:9px !important;
line-height:30px !important;
}
.currency_with_sup {
float:right;
}
.price_modifier {
color:#BBBBBB;
float:right;
font-size:10px;
margin-top:-5px;
padding-right:14px;
text-align:right;
width:103px;
}
.apt_title {
font-size:20px;
font-weight:bold;
height:22px;
letter-spacing:-0.6px;
line-height:22px;
}
#search_body ul li {
	display: block;
	text-decoration: none;
}
#view {
	background-color:#F2F2EB; -webkit-border-radius:10px; -moz-border-radius: 10px;padding:10px;
}
.v3_blue {
background-position:0 -42px !important;
border-color:#679BBC !important;
}
#as-results-q {
position: relative; top: 33px;
}
.pop_image_small {
background:url("/images/uiwidgets/pop_image_small.png") no-repeat scroll 0 56px transparent;
float:left;
height:94px;
padding:0 9px;
position:relative;
width:122px;
}
.pop_image_small a.image_link {
-moz-box-shadow:0 0 2px #999999;
background:none repeat scroll 0 0 #FFFFFF;
border:1px solid #D7D7D7;
cursor:pointer;
display:block;
float:left;
height:74px;
padding:3px;
width:114px;
}

